<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">
    <title>Voicebots</title>
</head>
<body>
   
<header>
        <h1 style="text-align: center;">Chatbot basic web</h1> 
</header>
<div class="chat-screen">
    <div class="input-text">
        hello

    </div>
    <div class="">
        hi
    </div>


    

</div>



<div class="chatbar">
    <div class="chat">
        <div style="padding: 20px;
         background-color: gray;
         width: 1030px;">
            hello nice to meet you!
        </div>
    </div>
    <div class="send-button">
        
            button

        </div>
    </div>
    <!-- <div style="background-color:rgb(63, 62, 62); 
    padding: 10px;
    width: 1000px;">
        hello
    </div>
    <div style="chat>

    </div> -->

</div>

</body>
</html>